<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<section>
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <h3 class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
      <img class="w-8 h-8 mr-2" src="/hotel.png" alt="logo" />
      Add Rooms for Hotel ID <%= hotel.hotel_id %>
    </h3>
    <div
      class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-2xl xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <form
          class="space-y-4 md:space-y-6"
          action="/add-rooms/<%= hotel.hotel_id %>"
          method="post"
          enctype="multipart/form-data"
        >
          <div>
            <label
              for="t_s_room"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Total Small Rooms</label
            >
            <input
              type="number"
              name="t_s_room"
              id="t_s_room"
              placeholder="Total Small Rooms"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>
          <div>
            <label
              for="t_m_room"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Total Medium Rooms</label
            >
            <input
              type="number"
              name="t_m_room"
              id="t_m_room"
              placeholder="Total Medium Rooms"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>
          <div>
            <label
              for="t_l_room"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Total Large Rooms</label
            >
            <input
              type="number"
              name="t_l_room"
              id="t_l_room"
              placeholder="Total Large Rooms"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>
          <div>
            <label
              for="a_s_room"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Available Small Rooms</label
            >
            <input
              type="number"
              name="a_s_room"
              id="a_s_room"
              placeholder="Available Small Rooms"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>
          <div>
            <label
              for="a_m_room"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Available Medium Rooms</label
            >
            <input
              type="number"
              name="a_m_room"
              id="a_m_room"
              placeholder="Available Medium Rooms"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>
          <div>
            <label
              for="a_l_room"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Available Large Rooms</label
            >
            <input
              type="number"
              name="a_l_room"
              id="a_l_room"
              placeholder="Available Large Rooms"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              required
            />
          </div>

          <% if (error) { %>
          <p id="error" class="mt-2 text-xs text-red-600"><%= error %></p>
          <% } %>

          <input
            type="submit"
            value="Add Rooms"
            name="add-rooms"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          />
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
