<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<section class="h-lvh">
  <h2 class="text-2xl mb-4 px-12">Available Rooms for Hotel <%= hotelId %></h2>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-lg rounded-xl">
          <table class="min-w-full table-auto">
            <thead class="border-b">
              <tr>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                >
                  #
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                >
                  Room Size
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                >
                  Capacity
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                >
                  Price
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                >
                  Total rooms
                </th>
                <th
                  scope="col"
                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                >
                  Available rooms
                </th>
              </tr>
            </thead>
            <tbody>
              <% for(let room of rooms) { %>
              <tr class="border-b">
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                >
                  <%= room.room_id %>
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                >
                  <%= room.room_size %>
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= room.room_capacity %>
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= room.room_price %>
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= room.total_room %>
                </td>
                <td
                  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                >
                  <%= room.available_room %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="mx-auto">
      <button
        class="text-sm hover:bg-rose-700 mt-6 hover:text-white px-3 border-2 border-rose-400 py-2 rounded-md bg-gray-100 text-gray-900"
      >
        <a href="/hotel"> &larr; Go Back </a>
      </button>
      <button
        class="text-sm hover:bg-lime-700 mt-6 hover:text-white px-3 border-2 border-lime-700 py-2 rounded-md bg-gray-100 text-gray-900"
      >
        <a href="/update-rooms/<%= hotelId %>"> Update Rooms &rarr; </a>
      </button>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>
